<div class="container p-bg-cyan-50">
    <form [formGroup]="mommentForm" id="register-form" #formDir="ngForm">
      <header>

        <app-header></app-header>
      </header>
      <span class="p-float-label">
        <input pInputText id="user" formControlName="user" pTooltip="Adicionar nome de usuario" />
        <label htmlFor="user">User</label>
      </span>
      <span class="p-float-label">
        <input pInputText type="email" id="email" formControlName="email"
        [class.ng-invalid]="email?.invalid"
        [class.ng-dirty]="email?.dirty && (email?.errors?.['required'] || email?.invalid)"
        pTooltip="Adicionar email" />    
        <label htmlFor="usuario">E-mail</label>
    </span>
   

    <span class="p-float-label">
      <input pPassword [feedback]="true" id="password" formControlName="password" pTooltip="Inserir senha" />
      <label htmlFor="password">Password</label>
  </span>

    <p-confirmDialog [style]="{width: '50vw'}" id="dialog" >
    </p-confirmDialog>
    <button mat-raised-button color="primary" (click) = "confirm()">Register</button>
    <span>Already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></span>
</form>
</div>
