<!--<div class="container p-bg-cyan-50" >
    <form (submit)="onSubmit()" [formGroup]="mommentForm" #formDir = "ngForm" >
    <header>
        <app-logo></app-logo>
        <h1>L I S T E N E R</h1>
    </header>
        <span class="p-float-label">
    
        <input pInputText id="user"formControlName="username" pTooltip="Adicionar nome de usuario" />
    
        <label htmlFor="usuario">nome</label>
    </span>
    
    <span class="p-float-label">
    
        <input pInputText type="email" id="email" formControlName="email"
        [class.ng-invalid]="email?.invalid"
        [class.ng-dirty]="email?.dirty && (email?.errors?.['required'] || email?.invalid)"
        pTooltip="Adicionar email" />    
        <label htmlFor="usuario">nome</label>
    </span>
   

    <span class="p-float-label">
    
        <p-password formGroupName="password" pTooltip="Inserir senha"></p-password>
    
        <label htmlFor="password">password</label>
    </span>

    <p-confirmDialog [style]="{width: '50vw'}"     
        id="dialog" 
        message="Você confima as credenciais?" 
        header="Se confirmar sera redirecionado para a página de login" 
        icon="pi pi-exclamation-triangle">
    </p-confirmDialog>
    <button mat-raised-button color="primary"  (click) = "confirm()">Enviar</button>
</form>
</div><!-->


<div class="container p-bg-cyan-50" [formGroup]="mommentForm">
    <form id="register-form" (submit)="onSubmit()" [formGroup]="mommentForm" #formDir="ngForm">
        <app-header></app-header>
        <fieldset>
            <div>
                <span class="p-float-label">
                    <input pInputText id="username" formControlName="username" pTooltip="Set username"
                        autocomplete="off" />
                    <label htmlFor="username">Username</label>
                </span>
            </div>
            <div>
                <span class="p-float-label">
                    <input pInputText id="username" formControlName="username" pTooltip="Set username"
                        autocomplete="off" />
                    <label htmlFor="email">Email</label>
                </span>
            </div>
            <div>
                <span class="p-float-label">
                    <p-password formGroupName="password" pTooltip="Set password"></p-password>
                    <label htmlFor="password">Password</label>
                </span>
            </div>
            <button mat-raised-button color="primary" id="register-button">Register</button>
            <span>Already have an account? <a href="/login">Login</a></span>

        </fieldset>
    </form>
</div>