<div class="container p-bg-cyan-50" [formGroup]="mommentForm">
    <form id="auth-form" (submit)="onSubmit()" [formGroup]="mommentForm" #formDir="ngForm">
        <app-header></app-header>
        <fieldset>
            <div>
                <span class="p-float-label">
                    <input class="input-form" pInputText id="email" formControlName="email" pTooltip="Set username" />
                    <label htmlFor="email">E-mail</label>
                </span>
            </div>
            <div>
                <span class="p-float-label">
                    <p-password class="input-form" formControlName="password" [toggleMask]="true" pTooltip="Set Password"></p-password>

                    <label htmlFor="password">Password</label>
                </span>
            </div>
            <button mat-raised-button color="primary"(click)="onSubmit()" id="login-button">Login</button>
            <span>Don&apos;t have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Create one</a></span>
        </fieldset>
    </form>
</div>